QWidget {
    background-color: #1a8b10;
    color: #fff;
}

Qlabel {
    color: #fff;
}

QLineEdit {
    background-color: #fff;
    color: #222;
}

QTextEdit {
    background-color: #fff;
    color: #222;
}

QPushButton {
    background-color: rgb(223, 209, 21);
    color: rgb(0, 0, 0);
    width: 40px;
}